mat-toolbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  height: 75px !important;
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  &--logo {
    width: 85px;
    height: 50px;
    img {
      height: 40px;
    }
  }
}
